[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "software-engineering/themes/ananke"]
	path = software-engineering/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
